#container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  gap: 10pt;
}

h1 {
  width: 100%;
  text-align: start;
}

#text {
  width: 100%;
  text-align: start;
}

#info {
width: 100%;
  text-align: center;
}

#text {

}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

#cheat {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom:20pt;
  width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
